// font styles
@import "../../styles/font.scss";


// layout dimentions
@import "../../styles/device_dimensions.scss";

.success_image {
    width: 4rem;
    margin-bottom: 0.5rem;
}

.header_mid{
    @include font_size(1.8vw, black);
}

p{
    @include font_size(1.4vw, grey);
    letter-spacing: 0.1vw;
}

button{
    height: 3.5vw;
}

button:hover{
    cursor: pointer;
}